body {
  background: var(--Dark-Blue, #202733);
  display: flex;
  font-family: "Manrope", sans-serif;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main_container {
  width: 540px;
  height: 332px;
  border-radius: 15px;
  background: var(--Dark-Grayish-Blue, #313a48);
  box-shadow: 30px 50px 80px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 90px 48px 128px 48px;
  position: relative;
}

#main_h1 {
  color: var(--Neon-Green, #53ffaa);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  margin-bottom: 24px;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4.086px;
}

#main_p {
  color: var(--Light-Cyan, #cee3e9);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  margin-bottom: -20px;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.3px;
}
.visual {
  display: flex;
  gap: 16px;
  margin-top: 48px;
}
.visual hr {
  width: 196px;
  height: 1px;
  background: var(--Grayish-Blue, #4f5d74);
  opacity: 0.3;
}
.main_button {
  display: flex;
  justify-content: center;
}
#main-svg {
  position: absolute;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out 0s;
  border-radius: 50%;
  bottom: -32px;
}
#main-svg:hover {
  box-shadow: rgb(83, 255, 170) 0px 0px 50px 0px;
}

@media only screen and (max-width: 768px) {
  .main_container {
    width: 343px;
    height: 315px;
    border-radius: 10px;
    padding: 79px 24px 104px 24px;
  }
  #main_h1 {
    font-size: 11px;
  }
  #main_p {
    font-size: 22px;
  }
  .visual hr {
    width: 122px;
  }
  #main-svg {
    margin-top: 11px;
  }
}
